---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">
  {{ content }}
  <div class="image-column" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
    {% for image_path in page.image_paths %}
      <img src="{{ image_path }}" alt="Image {{ forloop.index }}" style="width: 100%; max-width: 300px; height: auto;">
    {% endfor %}
  </div>
</div>
